<div class="confirmation" @overleyAnimate>
  <div class="confirmation__overley" (click)="closeModal()"></div>
  <div class="confirmation__body">
    <button class="confirmation__close-btn" (click)="closeModal()"></button>
    <div class="d-flex flex-vertical-center flex-horizontally-center">
      <iframe width="800"
              height="450"
              src="https://www.youtube.com/embed/YihPA42fdQ8"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

